@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Music Database</h1>
</div>

<p>
    This website has been made to store information about albums and their associated artists and genres.
</p>

<p>
</p>

<p>
    The information contained on this website can be both viewed and edited.
    Additionally, new albums, artists, and genres can be added to those that already exist.
</p>

<p>
</p>

<p>
    Use the tabs above to access the desired information.
    To access the detailed listing of albums along with their corresponding artists and genres, click on the albums button.
    For subdirectories of artists or genres, click the corresponding button in the tab above. 
</p>