<div class="jumbotron">
    <h1>Welcome to the opening of {{location}}!</h1>
</div>

<p>
    This website has been made to store information about albums and their associated artists and genres.
    It has undergone several iterations, adding details and experimenting with different formats along the way.
    This iteration was designed using the Angular IO Framework.
    This framework is characterized by single page websites.
</p>

<p>
</p>

<p>
    The information contained on this website can be both viewed and edited;
    new albums, artists, and genres can be added to those that already exist.
</p>

<p>
</p>

<p>
    Use the tabs to the left and the buttons and links throughout the pages to access the desired information.
    You can complete several tasks by doing so; namely, you can borrow or donate an album, look up a page containing
    information about a single album, edit the information listed about an album already in the library.
    Visitors additionally are able to rate an album and use our digital card catelog to find entries.
</p>