<h1>Album Details</h1>

<p *ngIf="!albums"><em>Loading albums...</em></p>

<table class='table' *ngIf="albums">
    <thead>
        <tr>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <td [routerLinkActive]="['link-active']">
                <a [routerLink]="['/albums', album.AlbumID]">{{ album.name }} </a>
            </td>
            <td>{{album.artist}}</td>
            <td>{{album.genre}}</td>
            <td>{{album.rating}}</td>
        </tr>
    </tbody>
</table>
<addalbum></addalbum>